.modal {
	min-width: 270px;
}

.modal-editable, .modal-editable-mobile {
	line-height: 1.8;
}

.modal-editable:hover .edit-btn {
	display: inline-flex;
    margin-left: 10px;
}

.modal-editable .edit-btn {
	display: none
}

.modal-editable-mobile .edit-btn {
	display: inline-flex;
	margin-left: 10px;
}

.edit-btn:hover, .save-btn:hover {
	cursor:pointer;
}

.save-btn {
	display: inline-flex;
	margin-left: 10px;
}

.title-input {
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.desc-input {
    overflow: auto;
    resize: none;
    white-space: unset;
    font-size: 16px;
    font-family: 'Roboto-Regular';
}