.modal {
	min-width: 270px;
}

.modal-editable, .modal-editable-mobile {
	line-height: 1.8;
}

.modal-editable:hover .edit-btn {
	display: inline-flex;
    margin-left: 10px;
}

.modal-editable .edit-btn {
	display: none
}

.modal-editable-mobile .edit-btn {
	display: inline-flex;
	margin-left: 10px;
}

.edit-btn:hover, .save-btn:hover {
	cursor:pointer;
}

.save-btn {
	display: inline-flex;
	margin-left: 10px;
}