@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Roboto-Regular.ttf');
  src: local('Roboto-Regular'), local('Roboto-Regular'),
       url('./fonts/Roboto-Regular.ttf') format('truetype')
}

body {
	margin: 0;
	padding: 0;
  background-color: 'white';
	font-family: 'Roboto-Regular';
}

.prymary-color {
	
}